body {
  background-color: #1d1160;
  color: white;
}

h1 {
  font-size: 75px;
  text-align: center;
}

button {
  background-color: #1d1160;
  border: 2px solid white;
  color: white;
  padding: 15px 32px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  background-color: white;
  color: #1d1160;
}

.container {
  margin: auto;
  margin-top: 200px;
}

.madlibs {
  margin: auto;
  width: 50%;
  text-align: center;
}

.take {
  font-size: 25px;
  padding: 25px;
  margin-bottom: 10px;
}

.github {
  margin: auto;
  text-align: center;
  margin-top: 100px;
}

.github, a {
  color: white
}

.fire {
  height: 75px;
}