.statsRoot {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
}

.statsRoot > * {
  margin-right: 12px;
}

.number {
  font-size: 14px;
  font-weight: 600;
  margin-right: 4px;
}

.text {
  font-size: 14px;
  color: gray;
}
